<div class="modify-account-form-wrapper">
    <form id="modify-account-form">
        <div class="final-account-modification-error-message">
            <!-- ako sva polja nisu validna, ne dozvoljavamo da se zathjev posalje na server -->
        </div>
        <h3>Edit Profile</h3>
        <div>
            <label for="new-modified-username">New username</label>
            <input type="text" id="new-modified-username">
        </div>
        <div>
            <label for="new-modified-password">New password</label>
            <input type="password" id="new-modified-password">
        </div><hr>
        <div>
            <label for="current-user-password">Current password</label>
            <input type="password" id="current-user-password">
        </div>
        <button type="submit">MODIFY ACCOUNT</button>
        <span class="close-form-button">x</span>
    </form>
</div>
