<div class="confirm-account-deletion-wrapper">
    <form id="confirm-account-deletion-form">
        <label for="confirm-account-deletion-password">One last step - enter your password</label>
        <input type="password" id="confirm-account-deletion-password" placeholder="Your password">
        <button type="submit">DELETE ACCOUNT</button>
        <span class="close-form-button">x</span>
    </form>
</div>
