<div class="cart-toggler-wrapper">
    <div class="cart">
        <h2>YOUR CART</h2>

        <ul id="cart-items">
            <!-- Lista koja ce se dinamicki popuniti putem JS -->
        </ul>

        <div id="cart-summary">
            <h3 id="total-price">Total: $0.00</h3>
            <button id="checkout-button">Checkout</button>
            <button id="clear-cart-button">Remove All</button>
        </div>

        <span class="x" title="Close">x</span>


    </div>

    <div id="loader">
        <h1>YORKSHIRE</h1>
    </div>
</div>
