<header>
    <a href="/profile">
        <img id="logo" src="images/logo.png" alt="Yorkshire Logo" title="Home">
    </a>

    <nav id="navbar">
        <ul>
            <li><a href="/profile">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/about">ABOUT US</a></li>
        </ul>
    </nav>




    <div class="user-account-actions-container">
        <div class="user-account-actions">
            <button class="logout-button action-button"><i class="fa fa-sign-out"></i> Log Out</button>
            <button class="modify-button action-button"><i class="fas fa-user-edit"></i> Modify Account</button>
            <hr>
            <button class="delete-button action-button" title="Delete Your Account">
                <i class="fas fa-user-times"></i>
                Delete Account
            </button>
        </div>
        <div id="user-account-actions-toggler">
            <button><i class="fa fa-user"></i></button>
            <!-- <p>// UKLJUCITI USERNAME ULOGOVANOG KORISNIKA IZ 'app.get('/profile') rute u 'server.js' fajlu!!!!!!!!!!!!!'</p> -->
        </div>
    </div>





    <div class="cart-icon" title="Your cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge">0</span>
    </div>
    <i id="hamburger-menu-icon" class="fa-solid fa-bars"></i>
</header>
