<footer>
    <div class="logo">
        <img src="images/logo.png" alt="Yorkshire Logo">
    </div>
    <div class="footer-links">
        <a href="#">Info</a>
        <hr>
        <a href="#">Support</a>
        <hr>
        <a href="#">Marketing</a><br>
        <a href="#">Privacy Policy</a>
        <hr>
        <a href="#">Terms of Sale</a>
    </div>
    <div class="footer-contact">
        <h4>Contact</h4>
        <p><i class="fa-solid fa-envelope"></i> yorkshire@example.com</p>
        <p><i class="fa-solid fa-phone"></i> +12 34 56789</p>
        <div class="icons">
            <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    <p id="copyright">&copy; 2023 Yorkshire Computer Services</p>
</footer>
