<div class="register-form-wrapper">
    <form id="register-form">
        <h3>Sign Up!</h3>
        <label for="new-username">Your username</label>
        <input type="text" name="new-username" id="new-username">
        <label for="new-email">Your email</label>
        <input type="email" name="new-email" id="new-email" autocomplete="email">
        <label for="new-password">Your password</label>
        <input type="password" name="new-password" id="new-password" autocomplete="current-password">
        <button type="submit">SIGN UP</button>
        <span class="close-form-button">x</span>
    </form>
</div>