<div class="form-container">
    <form id="contact-message-form">
        <h2>Have a question or need assistance?<br>
            Feel free to reach out using the form below,<br>
            and we'll get back to you as soon as possible
        </h2>

        <div class="name-wrapper">
            <label for="name">Your name</label>
            <input type="text" id="name" placeholder="Optional">
        </div>

        <div class="email-wrapper">
            <label for="email">Your email address</label>
            <input type="email" id="email" required>
        </div>


        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="Optional">


        <div class="message-wrapper">
            <label for="message">Your message</label>
            <textarea id="message" rows="4" cols="50" required></textarea>
        </div>


        <button id="form-btn" type="submit">Send</button>

        <div class="form-contact">
            <p><i class="fa-solid fa-envelope"></i> yorkshire@example.com</p>
            <p><i class="fa-solid fa-phone"></i> +12 34 56789</p>
            <div class="icons">
                <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
</div>
</form>
</div>
