<main id="main">


    <!---------------------------------------------------     TITLE SECTION     ------------------------------------------------------>
    <section class="title-section">
        <div>
            <h1>YORKSHIRE</h1>
            <h2>Versatile online marketplace</h2>
            <h2>Quality product selection <i class="fa fa-down-long" id="animate-arrow"></i></h2>
            <p id="p-for-animation">Our goal is to make your shopping experience exceptional</p>
        </div>

        <div class="button-wrapper">
            <button><a href="/contact">CONTACT US</a></button><button id="learn-more-button">LEARN MORE</button>
        </div>

    </section>


    <!---------------------------------------------------     WHAT WE DO SECTION     ------------------------------------------------------>
    <section class="what-we-do-section">
        <h1>WHAT WE DO</h1>
        <div class="expertise-wrapper">
            <div>
                <h2>Providing Premium E-commerce Solutions</h2>
                <p>- Guaranteed satisfaction with our top-notch services <br>
                    - Offering a wide range of products including electronics, clothing and more</p>

                <h3>Selling High-Quality Products</h3>
                <p>Buy high-quality products! <i id="fa-products-section-trigger" class="fa fa-arrow-down"></i></p>


                <h3>Quality Assurance</h3>
                <p>- We stand behind our work with <strong>warranties</strong><br>
                    Take a look at some of our Customer Reviews <i id="fa-customer-products-section-trigger"
                        class="fa fa-arrow-down"></i></p>

                <h3>Years of Experience</h3>
                <p>- We bring <strong>over 15 years</strong> of experience in the e-commerce industry <br>
                    - We strive for excellence in every solution</p><br>

                <p>Contact us today for more info!
                    <button>
                        <a href="/contact">Contact Us<i class="fa fa-arrow-right-long"></i></a>
                    </button>
                </p>



            </div>
        </div>
    </section>




    <hr>




    <!---------------------------------------------------     PRODUCTS SECTION     ------------------------------------------------------>
    <section class="products-section">
        <h1>Explore some of our products</h1>

        <div class="select-sort-search-container">
            <div>
                <label for="category-select">Select a category:</label>
                <select id="category-select">
                    <option value="">All Categories</option>
                    <option value="Retro Football Jerseys">Retro Football Jerseys</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Smartphones">Smartphones</option>
                    <option value="Laptops">Laptops</option>
                </select>
            </div>

            <div>
                <label for="sort-options">Sort:</label>
                <select id="sort-options">
                    <option value="">Sort</option>
                    <option value="a-z">Name A-Z</option>
                    <option value="z-a">Name Z-A</option>
                    <option value="price-asc">Lowest to Highest Price</option>
                    <option value="price-desc">Highest to Lowest Price</option>
                </select>
            </div>
        </div>

        <div class="products" id="product-container">
            <!-- Div koji ce se dinamicki popuniti putem JS -->
        </div>

        <div class="pagination-controls">
            <button id="prev-page-button">Prev Page</button>
            <span id="current-page">1</span>
            <button id="next-page-button">Next Page</button>
        </div>
    </section>






    <!---------------------------------------------------     CUSTOMER REVIEWS SECTION     ------------------------------------------------------>
    <section class="customer-reviews-section">
        <h1>Customer Feedback</h1>
        <div class="customers-wrapper">
            <div class="single-customer">
                <img src="images/john_doe.jpg" alt="John Doe">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
                <h4>John Doe</h4>
                <p>"Fast delivery and great products! YORKSHIRE is my go-to e-commerce store."</p>
            </div>
            <div class="single-customer">
                <img src="images/jack_smith.jpg" alt="Jane Doe">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
                <h4>Jack Smith</h4>
                <p>"YORKSHIRE's e-commerce offers top-notch products. Impressive quality!"</p>
            </div>
            <div class="single-customer">
                <img src="images/chloe_bennett.jpg" alt="Jack Smith">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="far fa-star"></i>
                <h4>Chloe Bennett</h4>
                <p>"Exceptional products and outstanding service. Highly recommended!"</p>
            </div>
        </div>
    </section>



</main>
