<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Yorkshire</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media_queries.css">
</head>
<body>
    
    <!---------------------------------------------------     HEADER(NAVBAR)     ------------------------------------------------------>
    <header>
        <a href="/">
            <img id="logo" src="images/logo.png" alt="Yorkshire Logo" title="Home">
        </a>

        <nav id="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/about">ABOUT US</a></li>  
                
            </ul>
        </nav>
        
        
        <i id="hamburger-menu-icon" class="fa-solid fa-bars"></i>
    </header>






    <div class="about-us-header-background">
        <h1>About Yorkshire</h1>
    </div>
    



    <!---------------------------------------------------     ABOUT US     ------------------------------------------------------>
    <section class="about-us-wrapper">

        <h2>Our Story</h2>

        <div class="paragraphs-wrapper">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, corporis recusandae officia exercitationem voluptates aperiam, numquam impedit obcaecati libero et hic explicabo distinctio minima veniam.
            </p><br>
            <p>Corporis dicta voluptate maiores repudiandae dolorem. Officia, id. Temporibus sed doloremque eaque distinctio, suscipit atque numquam accusantium quam aspernatur.</p><br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita nisi qui reprehenderit sint!</p>
        </div>
    
        <div class="image">
            <img src="images/about_us_illustration.png" alt="">
        </div>

    
    </section>





    <!---------------------------------------------------     FOOTER     ------------------------------------------------------>
    <footer>
        <div class="logo">
            <img src="images/logo.png" alt="Yorkshire Logo">
        </div>
        <div class="footer-links">
            <a href="#">Info</a><hr>
            <a href="#">Support</a><hr>
            <a href="#">Marketing</a><br>
            <a href="#">Privacy Policy</a><hr>
            <a href="#">Terms of Sale</a>
        </div>
        <div class="footer-contact">
            <h4>Contact</h4>
            <p><i class="fa-solid fa-envelope"></i> yorkshire@example.com</p>
            <p><i class="fa-solid fa-phone"></i> +12 34 56789</p>
            <div class="icons">
                <a href="#" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <p id="copyright">&copy; 2023 Yorkshire Computer Services</p>
   </footer>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="js/gsap_about_us.js"></script>
    <script src="js/about_us.js"></script>
</body>
</html>