.about-us-header-background {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.836), rgba(49, 163, 221, 0.452)), url(../images/about_us_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}



.about-us-header-background h1 {
    font-size: 3rem;
    color: white;
    padding: 0 0 70px 100px;
}



.about-us-wrapper {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 100px;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.about-us-wrapper img {
    width: 499px;
    max-width: 100%;
    height: auto;
}