.admin-header-adjustment-helper {
    height: 120px;
    background-color: rgb(28, 75, 99);
}


.admin-main {
    padding: 70px;
}


.yorkshire-admin-panel-h2 {
    text-align: center;
}

.section-title {
    margin-bottom: 70px;
}


.admin-page-content-container {
    margin-left: 200px;
}


.admin-page-content-section {
    margin: 80px 0;
}




.sidebar {
    font-size: 0.75rem;
    background-color: rgb(28, 75, 99);
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 120px;
    z-index: 100;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: black;
}



.admin-page-content-section table {
    font-size: .8rem;
    width: 100%;
    border-collapse: collapse;
}
.admin-page-content-section table, .admin-page-content-section th, .admin-page-content-section td {
    border: 1px solid silver;
}
.admin-page-content-section th, .admin-page-content-section td {
    padding: 10px;
    text-align: left;
}
.admin-page-content-section th {
    background-color: black;
    color: white;
}



.customer-email {
    margin-left: 7px;
    color: rgb(0, 160, 0);
}


.single-order {
    margin: 0 0 120px 0;
}

.single-order .ordered-by {
    margin: 15px 0;
}

.admin-page-content-section table img {
    width: 50px;
}










.add-new-user-form-wrapper, .edit-user-form-wrapper, .email-reply-message-form-wrapper {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 20000;
}

#add-new-user-form, #edit-user-form, .email-reply-message-form {
    background-color: black;
    color: white;
    width: 320px;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px black;
    position: relative;
}


#add-new-user-form h3, #edit-user-form h3 {
    font-weight: 400;
    margin-bottom: 35px;
}

#add-new-user-form label, #edit-user-form label {
    display: block;
    font-size: .9rem;
    margin-bottom: 3px;
}

#add-new-user-form input, #edit-user-form input, .email-reply-message-form textarea {
    margin-bottom: 5px;
    font-size: .9rem;
    outline: none;
    padding: 1px 5px;
    width: 100%;
}

#add-new-user-form button, #edit-user-form button, .email-reply-message-form button {
    padding: 7px;
    background-color: rgb(165, 165, 165);
    border-radius: 1rem;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    margin-top: 5px
}



#edit-user-form p {
    margin-bottom: 6px;
}

#current-username, #current-role {
    color: rgb(0, 160, 0);
    margin-left: 6px;
}

#edit-user-form div {
    margin-bottom: 30px;
}



.email-reply-message-form {
    width: 500px;
    margin: 0 20px;
}

.email-reply-message-form textarea {
    height: 100px;
}