<div class="cart-toggler-wrapper">
    <div class="cart">
        <h2>YOUR CART</h2>

        <div id="cart-empty-div">
            <h3>Your cart is empty</h3>
            <p><button id="cart-empty-login-form-toggler-button">Log In</button> or <button id="cart-empty-register-form-toggler-button">Sign Up</button> to add some products!</p>
        </div>


        <span class="x" title="Close">x</span>


    </div>
</div>
