<header>
    <a href="/" class="logo-link">
        <img id="logo" src="/images/logo.png" alt="Yorkshire Logo" title="Home">
    </a>

    <nav id="navbar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/about">ABOUT US</a></li>
        </ul>
    </nav>


    <input type="text" id="search-input" placeholder="Search products...">
    <ul id="search-results" class="product-list-hidden"></ul>
    

    <div class="login-register">
        <button class="login-button">Log In</button>
        <button class="register-button">Sign Up</button>
    </div>



    <div class="cart-icon" title="Your cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge">0</span>
    </div>
    <i id="hamburger-menu-icon" class="fa-solid fa-bars"></i>
</header>
