<div class="login-form-wrapper">
    <form id="login-form">
        <h3>Log In</h3>
        <div>
            <label for="username_or_email">Your username or email</label>
            <input type="text" name="username_or_email" id="username_or_email" autocomplete="username">
        </div>
        <div>
            <label for="password">Your password</label>
            <input type="password" name="password" id="password" autocomplete="current-password">
        </div>
        <button type="submit">LOG IN</button>
        <span class="close-form-button">x</span>
    </form>
</div>