<header>
    <a href="/admin" class="logo-link">
        <img id="logo" src="/images/logo.png" alt="Yorkshire Logo" title="Home" class="admin-panel-logo">
    </a>

    <nav id="navbar" class="admin-panel-nav">
        <ul class="big-screen-ul">
            <li><a href="/admin">DASHBOARD</a></li>
            <li><a href="/admin/settings">SETTINGS</a></li>
        </ul>
        <ul class="small-screen-ul">
            <li><a href="/admin/users">USERS</a></li>
            <li><a href="/admin/products">PRODUCTS</a></li>
            <li><a href="/admin/orders">ORDERS</a></li>
            <li><a href="/admin/messages">MESSAGES</a></li>
            <li><a href="/admin/settings">SETTINGS</a></li>
        </ul>
    </nav>




    <div class="user-account-actions-container">
        <div class="user-account-actions">
            <button id="logout-button" class="logout-button action-button"><i class="fa fa-sign-out"></i> Log Out</button>
            <!-- <button class="modify-button action-button"><i class="fas fa-user-edit"></i> Modify Account</button> -->
            <!-- <hr>
            <button class="delete-button action-button" title="Delete Your Account">
                <i class="fas fa-user-times"></i>
                Delete Account
            </button> -->
        </div>
        <div id="user-account-actions-toggler">
            <button><i class="fa fa-user"></i></button>
            <p><%= username %><!-- username got from ejs template callback object --></p>
        </div>
    </div>


    <i id="hamburger-menu-icon" class="fa-solid fa-bars admin-panel-hamburger-menu-icon"></i>
</header>
