<section class="admin-page-content-section">
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
    <p>products section</p>
</section>