<section class="admin-page-content-section">
    <h3>Users</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.role %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>
